$primary-color: white;
$secondary-color: cornflowerblue;
$tertiary-color: gray;
$text-color: white;
$hover-color: lightgray;
$login-secondary-color: black;
$primary-font: Arial, Helvetica, sans-serif;
